/AplicacionVariables/nbproject/private/
/AplicacionVariables/build/
/AplicacionOperadores/nbproject/private/
/AplicacionOperadores/build/
/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Condicionales/nbproject/private/
/Condicionales/build/
